<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Second Screen</title>
</head>
<body>

<div class="container">
  <br/>
  <strong>AML Procedures</strong>
  <hr>
  <!--<form>
    <div>

      <label name="NextQuestion">Do you have Anti-Money Laundering (AML) Procedures in place for your business?</label>
      <br/>
      <label class="radio-inline">
        <input type="radio" name="optradio">Yes
      </label>
      <label class="radio-inline">
        <input type="radio" name="optradio">No
      </label>
      <button type="submit" class="btn btn-primary pull-right">Next</button>

    </div>

  </form> -->
</div>
</body>
</html>
